/* nav ------------------------------------------------------------ */

.nav {
	background-color: #2D2D2D;
	color: white;
	height: 13%;
}

.navbar-header {
	padding-top: 15px;
}

.header-link {
	padding-right: 10px;
	text-align: right;
}

#brand {

	padding-left: 190px;
}

/* body ------------------------------------------------------------ */

body {
	padding-top: 20px;
}

.jumbotron {
	background-color: #9eb4d8;
	margin-bottom: 0px;
}

.about {
	padding: 80px 50px 40px 80px;

}

.cat {
	border-radius: 50%;
	padding-top: 25px;
	padding-right: 25px;
	width: 100%;
} 

.jumbo2 {
	background-color: #dee4ed;
	margin-bottom: 0px;
}

.contact {
	padding-bottom: 35px;
}
.talk {
	padding-right: 30px;
	padding-left: 30px;
}


.social {
	background-color: #9eb4d8;
	padding: 50px 0;
}

/* FOOTER ------------------------------------------------- */

.foot {
	background-color: #c3cfe2;
	padding-bottom: 5px;
	padding-top: 20px;
} 